body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-checkin {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}
.form-checkin .form-checkin-heading,
.form-checkin .checkbox {
  margin-bottom: 10px;
}
.form-checkin .checkbox {
  font-weight: normal;
}
.form-checkin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin:5px 0;
}



.form-checkin .form-control:focus {
  z-index: 2;
}
.form-checkin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.title {
    font-size: xx-large;
    text-align: center;
}