<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask Bucket List App</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css"
          rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet"/>

    <link href="{{url_for('static', filename='checkin.css')}}" rel="stylesheet"/>
</head>

<body>

<div class="container wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="header" >Scheduler for Southwest Check-in</span>
    </nav>
    <form class="form-checkin" name="form-checkin" action="{{ url_for('checkin') }}" method="post">
        <img class="mb-4" src="../static/images/sw.svg" alt="">
        <h1 class="h3 mb-3 font-weight-normal">Enter passenger information.</h1>
        <label for="confirmationNumber" class="sr-only">Confirmation # *</label>
        <input type="text" id="confirmationNumber" name="confirmationNumber" class="form-control"
               placeholder="Confirmation #" required autofocus>

        <label for="firstName" class="sr-only">FIRST NAME *</label>
        <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name" required
               autofocus>

        <label for="lastName" class="sr-only">LAST NAME *</label>
        <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" required
               autofocus>

        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" autofocus>

        <label for="phoneNumber" class="sr-only">Phone Number</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control"
               placeholder="Cellphone where boarding pass will be texted">

        <div class="row">
            <div class='col-sm-12'>
                <label for="scheduleDate" class="sr-only">schedule check-in datetime: </label>
                <input type='text' class="form-control" id='scheduleDate' placeholder="schedule check-in datetime"/>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="btnCheckin">Schedule</button>
    </form>
    <div class="push"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="../static/checkin.js"></script>
<footer class="footer">Use on your own risk</footer>
</body>
</html>